@import '../../../../globals/themes';

.info {
  @include winamp_theme() {
    color: var(--green-color);
    background-color: black;
    width: 100%;
    padding: 2px 4px;
    border: 2px solid map-get($bg, 3);
    border-width: 0px 2px 2px 0px;
    font-size: 11px;
    position: relative;
    height: 13px;
    overflow: hidden;


    &.link {
      .info__link__arrow {
        color: var(--green-color);
        //font-size: 15px;
        //width: 100%;
        text-align: left;
        padding: 0px 8px;
        padding-right: 10px;
        display: inline;
        opacity: 0;
        transition: opacity 0.2s;
        &.visible {
          opacity: 1;
        }
      }
    }

    &.--stopped {
      .info__content {
        animation-play-state: paused;
      }
    }

    &.--paused {
      .info__content {
        animation-play-state: paused;
      }
    }

    .info__content {
      position: absolute;
      animation: slide-left 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      right: 0px;
      width: 100%;
      text-align: left;

     @keyframes slide-left {
      0% {
        right: -100%;
      } 100% {
        right: 100%;
      }}
    }
  }
}




