.loader {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    animation: rotate infinite;
    @keyframes rotate {
      from {
        transform: rotate(0deg)
      } to {
        transform: rotate(360deg)
      }
    }
}