@import '../../globals/themes';

.top-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  @include winamp_theme() {
    .top-bar__user {
      overflow: hidden;
      transition: width 1s;
      transition-timing-function: ease-in-out;
      @extend h2;
      text-decoration: none;
      width: 100px;
      &.--return {
        width: 300px;
      }
    }
  }
}