@import '../../globals/themes';

.about {
  text-align: center;
  font-size: 11px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border: 2px solid red;
  @include winamp_theme() {
    background-color: map-get($bg,2);
    color: var(--font-color2);//var(--green-color);
    text-shadow: none;
    border-color: map-get($bg, 2);
  }

  a {
    font-size: 1.1em;
    color: #BF6D1B;
    letter-spacing: 1px;
  }
  ol {
    text-align: left;
    overflow: hidden;
  }
}